 <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Display My Ideas</a>
  </div>
</nav>

<div class="list-group w-auto">
  <% @ideas.each do |idea| %>
    <div class="list-group-item">
      <h5 class="mb-1"><%= link_to idea.name, idea %></h5>
      <p class="mb-1"><%= truncate(idea.description, length: 100) %></p>
      <div class="">
        <% if idea.picture? %>
          <%= image_tag idea.picture.url(:thumb), class: "img-thumbnail float-right" %>
        <% end %>
      </div>

    </div>

  <% end %>
</div>

<%= link_to "Add a new idea", new_idea_path, class: "btn btn-primary mb-3" %>
