<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Application</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to my Report app!</p>
  </div>
  <button class="create-new">
    <a class="no-decoration" href="/ideas/new">Create New Idea</a>
  </button>
</div>
